#keyboard {
    display: block;
}

.button-correct {
    background-color: #69A969 !important;
    border: 3px solid transparent;
    color: whitesmoke;
}

.button-almost {
    background-color: #C7B563;
    border: 3px solid transparent;
    color: whitesmoke;
}

.button-error {
    background-color: #787C7F;
    border: 3px solid transparent;
    color: whitesmoke;

}



#game {
    height: calc(100vh - 52px);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#screen {
    font-size: 16pt;
    font-weight: bold;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    
}

.key-regular {
    background-color: #D2D5DA;
}

.key-error{
    background-color: #787C7F;
    animation-duration: 500ms;
}

.key-almost {
    background-color: #C7B563
}

.key-correct {
    background-color: #69A969;
}

.line {
    margin: auto auto 8px auto;
}

.pulo-do-gato{
    border: none;
    width: 1px;
    height: 1px;
}

.key-item {
    display: inline-block;
    line-height: 65px;
    border-radius: 4px;
    font-size: 12pt;
    width: 48px;
    margin: 0 2px;
    cursor: pointer;
}

.grid-item {
    border: 1px solid #D2D5DA;
}


@media only screen and (min-width: 300px) {
    
    .grid-item {
        margin: 3px;
        line-height: 4rem;
        text-align: center;
        max-width: 62px;
        max-height: 62px;
        font-size: 1.6rem;
    }

    .key-item {
        line-height: 38px;
        width: 1.9rem;
        max-width: 46px;
        margin: 2px 2px;
        cursor: pointer;
        margin: auto;
    }

    .enter {
        width: 16% !important;
        max-width: 200px !important;
    
    }


}

@media only screen and (min-width: 800px) {
    .grid-item {
        max-width: 120px;
        max-height: 120px;
        font-size: 6rem;
        line-height: 8rem;
        width: 90%;
        margin: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    
    
    
    .grid-item {
        margin: 3px;
        align-items: center;
        line-height: 62px;
        text-align: center;
        width: 62px;
        font-size: 2.3rem;
        cursor: not-allowed;
        text-transform: uppercase;
        
    }
    
    
    
    .key-item {
        display: inline-block;
        line-height: 65px;
        border-radius: 4px;
        font-size: 12pt;
        width: 48px;
        margin: 0 2px;
        cursor: pointer;
        max-width: none;
    }
    
    
    .enter {
        width: 72px;
    
    }
    
    .backspace{
        width: 72px;
    
    }
    
    
}