@font-face {
    font-family: "Wordle"; 
    src: url("fonts/karnakcondensed-normal-700.woff") format("woff");
  }

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
    border-bottom: 2px solid black;
    height: 5%;
    align-items: center;
}

.title {
    font-family: "Wordle", Arial, sans-serif;;
    
}

.left-head {
    width: 20%;
}

.main-head {
    width: 60%;
}

.right-head {
    width: 20%;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: start;
}


.switch-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

body {
    text-align: center;
    height: 100vh;
}

p {
    font-size: 30pt;
    line-height: 50px;
    font-weight: bold;
}

/* dark-mode switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

    .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%; 
}

#final {
    align-items: center;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 35%;
    width: 100%;
    height: 30%;
    color: black;
    font-size: 1.4rem;
}

/* Variáveis do darkmode */

@media (prefers-color-scheme: dark) {
    
}


/* media queries */
@media only screen and (min-width: 300px) {
    .left-head {
        width: 30%;
    }
    
    .main-head {
        width: 40%;
    }
    
    .right-head {
        width: 30%;
    }

    .switch {
        width: 40px;
        height: 26px;
    }

    .slider:before {
        height: 18px;
        width: 16px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(17px);
    }

    .gg-sun, .gg-moon {
        width: 18px;
        height: 18px;
    }

}

@media only screen and (min-width: 500px) {
    .left-head {
        width: 20%;
    }
    
    .main-head {
        width: 60%;
    }
    
    .right-head {
        width: 20%;
        justify-content: flex-end;
        padding-right: 20px;
    }
}
